startup_commands            toggle_custom_color;fit_to_page_width_smart

status_bar_color            0.086 0.086 0.086
status_bar_text_color       0.40 0.40 0.40

# js hex to dec
# rgb = (col) => [...new Array(3)].map((_,i) => ((col >> 8*(2-i)) & 0xff) / 0xff).map(x => x.toFixed(3)).join(' ')
# background #161616
custom_background_color     0.086 0.086 0.086
custom_text_color           0.867 0.882 0.902

ui_font                     Helvetica Neue

macos_titlebar_color        0.13 0.14 0.21

# vim: set ft=conf:
